<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Feature declarations -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProjectt"
        tools:targetApi="31">
        <activity
            android:name=".ViewpoliceMissingPersonReportsActivity"
            android:exported="false" />
        <activity
            android:name=".AnonymousComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".NormalComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".CrimeAndCriminalsActivity"
            android:exported="false" />
        <activity
            android:name=".CrimeDetailFragment"
            android:exported="false" />
        <activity
            android:name=".CrimeAroundMeActivity"
            android:exported="false" />
        <activity
            android:name=".PoliceDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name=".ViewSubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMissingPersonReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ReportMissingPersonActivity"
            android:exported="false" />
        <activity
            android:name=".MyComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".LogComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".LawArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".PoliceStationNearMeActivity"
            android:exported="false" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- MainActivity - Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>